@media only screen and (max-width:969px){
    body{
        background-color: ;
    }
}

@font-face{
    font-family: sans;
    src: url(Font/OpenSans-Regular.ttf);
}

*{
    background-color: #011a27;
    font-family: sans;
    font-size: small;
    margin: 0;
    padding: 0;
}

/* Header -----------------------------------------------------------*/
.navbar{
    background-color: black;
    justify-content: space-between;
    display: flex;
    padding: 30px 150px;
    align-items: center;
    box-shadow: 0 5px 10px #04f17a;
    margin-bottom: 10px;
}

.navbar li, a{
    background-color: black;
    font-weight: 500;
    text-decoration: none;
    font-size: 20px;
    color: #118ab2;
}

.navbar .logo{
    background-color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.navbar .logo img{
    background-color: black;
    width: 80px;
    padding: 0;
}

.navbar .logo a{
    font-size: 35px;
}

.navbar .logo a span{
    font-size: 35px;
    background-color: black;
    color: #16db93;
}

.navbar .logo a:hover, .navbar .logo a span:hover{
    color: white;
}

.navbar .nav-links {
    list-style: none;
    background-color: black;
    text-align: center;
    margin-left: 10px;
}

.navbar .nav-links ul{
    background-color: black;
}

.navbar .nav-links ul li{
    background-color: black;
    display: inline-block;
    text-align: center;
    padding: 0 15px;
}

.navbar .nav-links ul li a:hover{
    color: #fff;
}

.navbar .nav-links .submenu{
    display: none;
}

.navbar .nav-links .submenu .second li{
    padding: 10px 20px;
    text-align: left;
    display: block;
}

.navbar .nav-links ul li:hover .submenu{
    display: block;
    position: absolute;
    background: black;
    padding: 20px 0 15px 0;
    margin-left: -15px;
}






/* Body -------------------------------------------------------------*/

/* Home //////////////////////*/
/* Banner */
.banner{
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

/* About Us */
.story{
    text-align: center;
    color: whitesmoke;
    padding: 20px 200px;
    border: 2px solid aqua;
    margin: 50px 60px 0 60px;
}

.story h1{
    font-size: 30px;
    margin-bottom: 20px;
}

.story p{
    font-size: 17px;
}

/* Menu Recommendation */
.recommend{
    width: 80%;
    margin: 80px auto;
}

.recommend h1{
    text-align: center;
    color: white;
    font-size: 50px;
    margin-bottom: 50px;
}

.recommend .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.recommend .row .col{
    flex-basis: 50%;
    min-width: 250px;
}

.recommend .row .col img{
    width: 90%;
    margin: 0px;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}

.recommend .row .col h1{
    text-align: left;
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
}

.recommend .row .col span{
    color: red;
    font-size: 30px;
}

.recommend .row .col p{
    color: white;
    font-size: 15px;
}

/* DanBam Location */
.location{
    width: 80%;
    margin: 80px auto;
    border: 2px solid #04f17a;
    padding: 10vh;
}

.location .title{
    text-align: center;
    color: white;
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
    background-color: #118ab2;
}

.location .row{
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.location .row .col{
    flex-basis: 50%;
    min-width: 250px;
}

.location .row .col h1{
    width: 100%;
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 60px;
    margin-bottom: 20px;
    
}

.location .row .col h2{
    color: white;
    font-size: 30px;
}




/* Footer -----------------------------------------------------------*/
.footer{
    background-color: black;
    justify-content: space-between;
    display: flex;
    padding: 17px 11%;
    align-items: center;
    box-shadow: 0px -5px 10px #04f17a;
    margin: 20px 0 0 0;
}

.footer .logo{
    background-color: black;
    display: flex;
    align-items: center;
}

.footer .logo img{
    background-color: black;
    width: 50px;
    padding: 0;
}

.footer .logo a{
    font-size: 20px;
    cursor: text;
}

.footer .logo a span{
    font-size: 20px;
    background-color: black;
    color: #16db93;
}

.footer .links{
    list-style: none;
    margin: 0 0 0 100px;
}

.footer .links ul{
    background: black;
}

.footer .links ul li{
    display: inline-block;
}

.footer .links ul li a{
    font-size: 15px;
    padding: 0 15px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}

.footer .links ul li a:hover{
    color: #fff;
}

.footer .copy-right{
    color: #118ab2;
}

.footer .copy-right h5{
    background-color: black;
    font-size: 10px;
}